## 사용자 함수 정의하기

In [1]:
def add_two_numbers(num1, num2): # num1과 num2 파라미터
    y = num1 + num2 # 파라미터의 값들의 합을 y에 저장
    return y # y를 반환

위와 같이 def 를 가지고 함수를 정의하면 아래와 같이 함수명과 인자값을 가지고 호출할 수 있습니다.

In [2]:
add_two_numbers(3,4)

7

In [3]:
add_two_numbers(5, 6)

11

### 파라미터의 이름을 사용하여 인자 전달하기

In [6]:
add_two_numbers(num2 = 6, num1 = 5)

11

In [7]:
add_two_numbers(num2 = 3, num1 = 5)

8

### 사용자 함수에 대한 설명 보기

In [8]:
help(add_two_numbers)

Help on function add_two_numbers in module __main__:

add_two_numbers(num1, num2)

In [9]:
?add_two_numbers

### 함수에 대한 설명 입력하기

In [10]:
def add_two_numbers1(num1, num2):
    """
    이 함수는 두 숫자를 입력받아 그 합을 반환합니다.
    """
    y = num1 + num2
    return y

In [11]:
help(add_two_numbers1)

Help on function add_two_numbers1 in module __main__:

add_two_numbers1(num1, num2)
    이 함수는 두 숫자를 입력받아 그 합을 반환합니다.

In [12]:
?add_two_numbers1

### parameter의 기본값 설정하기

In [13]:
def get_squared(num1, num2 = 0):
    return num1**num2

In [15]:
get_squared(2,3)

8

In [16]:
get_squared(2)

1

### 입력받는 arguments의 수가 정해지지 않은 경우

In [17]:
def get_mininum(*numbers):
    return min(numbers)

In [18]:
get_mininum(1,2,3,-1)

-1

In [19]:
get_mininum(2,1,-1,-3,5)

-3

### parameter의 이름을 미리 정의하지 않는 경우

In [25]:
def get_average_age(**ages):
    print(ages)
    sum_ages = 0
    for name in ages.keys():
        sum_ages += ages[name]
    return sum_ages/len(ages)

In [26]:
get_average_age(Tom=20, John=30, Sarah = 40)

{'Tom': 20, 'John': 30, 'Sarah': 40}

30.0

### lambda 키워드 사용하기

In [27]:
add_numbers = lambda x, y: x+y

In [28]:
add_numbers(2,3)

5

In [29]:
numbers = [(2, 2), (3, 4), (4, 1), (1, 3)]
numbers.sort(key = lambda x:x[1])

In [30]:
numbers

[(4, 1), (2, 2), (1, 3), (3, 4)]

In [1]:
d = {'Ethan': 12, 'John': 31, 'Simon': 9, 'Peyton': 10, 'Sarah': 28, 'Tom': 40} 
sorted(d.items(), key=lambda x: x[1], reverse=True)

[('Tom', 40),
 ('John', 31),
 ('Sarah', 28),
 ('Ethan', 12),
 ('Peyton', 10),
 ('Simon', 9)]

In [2]:
d.items()

dict_items([('Ethan', 12), ('John', 31), ('Simon', 9), ('Peyton', 10), ('Sarah', 28), ('Tom', 40)])